* {
  margin: 0px;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #1e1e2f;
  color: #f5f5f5;
  font-family: Arial, sans-serif;
}

h1,
h2,
p {
  margin-top: 16px;
}

button {
  margin-top: 16px;
  background: #ffd166;
  color: #1e1e2f;
  padding: 10px 16px;
  font-size: 16px;
  border-radius: 6px;
  border: 0px;
}
